<div class="w-screen bg-gradient-to-r from-blue-100 to-yellow-100 pb-24">
  <div class="container mx-auto p-4 text-gray-800">
    <h1 class="text-5xl mb-4 font-semibold text-indigo-600">Trainer Page</h1>
    <div *ngIf="trainerName" class="mb-4 flex">
      <p class="text-3xl font-medium text-indigo-500">
        Welcome, {{trainerName}}!
      </p>
      <div>
        <button
          (click)="logout()"
          class="ml-4 bg-red-800 text-white px-4 py-2 rounded-lg hover:bg-red-600 focus:ring focus:ring-red-200 focus:ring-opacity-50"
        >
          Log out
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div *ngFor="let pokemon of collectedPokemon">
        <app-pokemon
          [pokemon]="pokemon"
          (remove)="removePokemon(pokemon)"
        ></app-pokemon>
      </div>
    </div>
  </div>
</div>
