<div class="flex flex-col justify-center items-center min-h-screen">
  <!-- Logo Image (centered horizontally) -->
  <div class="mb-4">
    <img
      src="/assets/pokemon-logo.png"
      alt="Pokemon Logo"
      class="w-1/4 mx-auto"
    />
  </div>

  <!-- Form -->
  <form class="p-8 rounded-lg flex flex-col items-center w-2/5">
    <fieldset class="mb-3 w-full">
      <input
        type="text"
        class="w-full h-20 border border-slate-300 p-2 rounded-full"
        placeholder="What's your name, trainer?"
        [(ngModel)]="username"
        name="username"
      />
    </fieldset>
    <button
      type="button"
      class="bg-rose-700 p-2 text-white shadow-2xl rounded-full w-32"
      (click)="login()"
    >
      Login
    </button>
  </form>
</div>
