<div class="flex flex-col justify-center items-center min-h-screen">
  <!-- Logo Image (centered horizontally) -->
  <div class="mb-4">
    <img
      src="/assets/pokemon-logo.png"
      alt="Pokemon Logo"
      class="w-1/4 mx-auto"
    />
  </div>

  <!-- Form -->
  <form class="p-8 rounded-lg flex flex-col items-center w-2/5">
    <fieldset class="mb-3 w-full">
      <input
        type="text"
        ngModel
        #username="ngModel"
        name="username"
        id="username"
        class="w-full h-20 border border-slate-300 p-2 rounded-full"
        placeholder="What's your name, trainer?"
      />
    </fieldset>

    <button type="submit" class="bg-green-500 p-2 text-white shadow-2xl rounded-full w-32">Login</button>
  </form>
</div>
